* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("padding.jpg");
    background-size: cover;
}

.container {
    height: 350px;
    width: 350px;
    box-shadow: 5px 5px 15px white;
    background-size: cover;
    background-position: center;
    position: relative;
    animation-name: moving-image;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving-image {
    0% {
        background-image: url("puneth.webp");
        top: 0px;
        left: 0px;
    }
    10% {
        top: 0px;
        left: 150px;
    }
    20% {
        background-image: url("rajnikanth.jpg");
        top: 0px;
        left: 350px;
    }
    30% {
        background-image: url("lion.jpg");
        top: 0px;
        left: 550px;
    }
    40% {
        background-image: url("yash.jpg");
        top: 0px;
        left: 730px;
    }
    50% {
        background-image: url("cheetah.jpg"); /* fixed */
        top: 0px;
        left: 930px;
    }
    60% {
        background-image: url("prabas.jpg");
        top: 180px;
        left: 930px;
    }
    70% {
        background-image: url("elephant.jpg");
        top: 200px;
        left: 650px;
    }
    80% {
        background-image: url("pooja.jpg");
        top: 200px;
        left: 300px;
    }
    90% {
        background-image: url("peacock.jpg");
        top: 200px;
        left: 0px;
    }
    100% {
        background-image: url("puneth.webp");
        top: 0px;
        left: 0px;
    }
}
